@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.poll {
    
  .title {
    @include ms-font-xl;
  }


  .buttonControls{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }
  
  .spinnerHolder{
    display: flex;
    margin-left: 0px;
    margin-top : -24px;
  }
  
}