@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.resultsMain{

    .header{
        @include ms-font-xl;
        display: flex;
        flex-direction: row;

        .title{
            margin: auto;
        }
    }

    .footer{
        @include ms-font-l;
        text-align: center;
    }
}