@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.resultHolder{

    .resultLabel{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .resultBarHolder{
        width: 100%;
        height: 20px;
        border: 2px solid #ccc;
        background-color: rgba(255, 206, 200, 0.3);
        margin-bottom: 1.2em;

        .resultProgress{
            height: inherit;
            border: none;
            background-color: $ms-color-themeDark;
            background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,transparent 75%, transparent);
            background-size: 30px 30px;
            animation: animate-stripes 3s linear infinite;
            opacity: 0.9;
        }

    }

}